html, body {
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: lightcyan;
}

/* header */

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

img {
    width: 70%;
    margin: 0 auto;
    display: block;
}

/* records */

.records {
    padding: .5rem 1.5rem;
    background-color: cyan;
    margin: 1rem auto;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}
.records:hover {
    background-color: lightcyan;
}

/* footer */

footer {
    background-color: paleturquoise;
    padding: 1rem;
}

footer p {
    margin: 0;
    padding: .2rem;
}

.creator{
    text-decoration: none;
    color: deepskyblue;
}
.creator:hover {
    color: lightskyblue;
}

.social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.connect {
    padding: .5rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    margin: .2rem;
}

.git {
    background-color: dimgray;
    color: white;
}
.git:hover {
    background-color: gray;
}

.insta {
    background-color: orchid;
    color: white;
}
.insta:hover {
    background-color: mediumorchid;
}

.x {
    background-color: deepskyblue;
    color: white;   
}
.x:hover {
    background-color: dodgerblue;
}

.linked {
    background-color: dodgerblue;
    color: white;
}
.linked:hover {
    background-color: royalblue;
}

.face {
    background-color: royalblue;
    color: white;
}
.face:hover {
    background-color: cornflowerblue;
}

/* modal */

.modal {
    background-color: #212529;
    color: whitesmoke;
    border-radius: .5rem;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    font-size: .8rem;
    font-weight: 300;
    box-shadow: .5rem -.5rem .5rem grey;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

.close-modal-btn-container {
    text-align: right;
    margin: .5rem;
}

.modal-close-btn {
    font-size: .8rem;
    font-weight: 700;
    background-color: transparent;
    border: .2rem solid transparent;
    color: whitesmoke;
}

.modal-close-btn:hover, .modal-close-btn:active {
    color: lightgrey;
    cursor: pointer;
}

.modal-close-btn:disabled {
    color: whitesmoke;
    opacity: .2;
    cursor: not-allowed;
}

input {
    padding: .5rem;
    font-size: .8rem;
    font-weight: 500;
    font-family: 'playfair display', sans-serif;
    box-shadow: .5rem -.5rem 1rem grey;
    margin: .3rem;
    border-radius: .3rem;
}

.modal-btn {
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'playfair display', sans-serif;
    cursor: pointer;
}

.modal-choice-btns {
    display: flex;
    justify-content: center;
    gap: .2rem;
    margin-top: 1.3rem;
}

.reverse {
    flex-direction: row-reverse;
}

.loading {
    width: 40%;
}

/* .uploading {
    margin-top: 0;
} */

.modal-inner-loading {
    color: red;
}

.modal-display-name {
    font-size: 1.7rem;
    font-weight: 600;
    color: fuchsia;
}

/* media queries */

@media only screen and (min-width: 450px) {
    h1 {
        font-size: 3rem;
    }   

    h3 {
        font-size: 1.5rem;
    }

    .modal {
        width: 28rem;
        height: 28rem;
        font-size: 1.1rem;
        padding: 2rem;
    }

    .modal-close-btn {
        font-size: 1rem;
    }

    input {
        font-size: 1.1rem;
        padding: .8rem;
    }

    .modal-btn {
        padding: .6rem 1.2rem;
        font-size: 1.1rem;
    }

    .modal-display-name {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 4rem;
    }   

    h3 {
        font-size: 2rem;
    }

    .modal {
        width: 35rem;
        height: 35rem;
        font-size: 1.5rem;
        padding: 3rem;
    }

    .modal-close-btn {
        font-size: 1.5rem;
    }

    input {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .modal-btn {
        padding: .8rem 1.5rem;
        font-size: 1.4rem;
    }

    .modal-display-name {
        font-size: 3rem;
    }
}